
 .grid_container >* {
  text-align: center;
  border-radius: 1px 1px 0px 0px;
  padding: 10px;
   box-shadow: 1px 1px 6px 0px;

}



.section {
  grid-area: section;
  width: 450px;
  position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */

}

.section::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px; /* Grosor de la transparencia */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1; /* Asegura que el pseudo-elemento esté por encima de la sombra */
}

.sidebar {
  grid-area: sidebar;
  width: 450px;
     box-shadow: 1px 1px 7px 0px;

}

.grid_container {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "section"
    "sidebar";
    height: 85vh;

}

@media (min-width: 600px) {
  /* fast Access */
  .section {
    grid-area: section;
    width:98%;
  }

  .sidebar {
    grid-area: sidebar;
    width:98%;
  }

  .grid_container {
    grid-template-columns: 78%; /* Define dos columnas, una 70% y la otra 30% */
    padding: 0px 15px 10px 10px  ;
    grid-template-rows: auto; /* Las filas se adaptan automáticamente al contenido */
    grid-template-areas:
      "sidebar sidebar"; /* Coloca la barra lateral en la primera columna y la sección en la segunda */
  }
}


