<!-- CARGA DE FACTURA PROVEEDOR (REGISTRAR INGRESOS) -->
<div class="contenedor-global">
    <div class="col-1">
        <form [formGroup]="formInvoice" (ngSubmit)="saveInvoiceSupplier()">
            <app-find-supplier (mensajeEnviado)="recibirIdMensaje($event)"></app-find-supplier>
            <app-payment-terms (valueChange)="onPaymentTermChange($event)"></app-payment-terms>
            <mat-form-field class="example-full-width">
                <mat-label>Fecha Comprobante</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfEntry">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="mat-form-field input-comp">
                <mat-label>Comprobante N°</mat-label>
                <input matInput formControlName="idInvoice" />
            </mat-form-field>

            <mat-form-field class="example-full-width" *ngIf="selectedPaymentTerm !== 'CONTADO'">
                <mat-label>Fecha vencimiento</mat-label>
                <input matInput [matDatepicker]="pickerVencimiento" formControlName="dueDate">
                <mat-datepicker-toggle matIconSuffix [for]="pickerVencimiento"></mat-datepicker-toggle>
                <mat-datepicker touchUi #pickerVencimiento></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Monto total</mat-label>
                <input matInput type="number" formControlName="amount" />
            </mat-form-field>

            <button mat-raised-button color="primary" class="btn" type="submit">
                Guardar Factura
            </button>
        </form>
    </div>
</div>

<!-- fin de carga de datos -->

<!-- Additional Textarea -->
<div class="col busqueda">
    <div class="container__serch">
        <!-- Campo de entrada -->
        <mat-form-field class="mat-form-field serch_product">
            <mat-label>Ingresa el código de barras</mat-label>
            <input matInput maxlength="20" type="text" name="code" [(ngModel)]="code" (input)="onInputChange($event)" />
        </mat-form-field>
        <div class="container_product">

            Para registrar un producto puedes hacer click
            <a mat-button color="primary" (click)="createProduct($event)">Aqui.</a>

        </div>
    </div>
</div>

<!-- Productos -->
<div class="row">
    <div class="col">

        <div *ngIf="showForm">
            <form [formGroup]="formProduct">
                @if (product) {
                <mat-form-field>
                    <mat-label>Producto</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>

                <mat-form-field class="mat-form-field description">
                    <mat-label>description</mat-label>
                    <input matInput placeholder="Ex. Pizza" formControlName="description" />
                </mat-form-field>

                <mat-form-field class="mat-form-field input">
                    <mat-label>Stock Actual</mat-label>
                    <input matInput formControlName="stock" />
                </mat-form-field>

                <mat-form-field class="mat-form-field input">
                    <mat-label>Precio Costo Proveedor</mat-label>
                    <input matInput formControlName="price" />
                </mat-form-field>

                <mat-form-field class="mat-form-field input">
                    <mat-label>Iva</mat-label>
                    <input matInput formControlName="iva">
                </mat-form-field>
                <mat-form-field class="mat-form-field input">
                    <mat-label>Catidad a Registrar</mat-label>
                    <input matInput formControlName="quantity">
                </mat-form-field>

                <button mat-flat-button class="btn_cancelar btn" color="warn">Cancelar</button>
                <button mat-flat-button class="btn primary btn" color="primary"
                    (click)="addListProduct()">Agregar</button>
                }@else {
                <p>No hay un producto seleccionado.</p>
                }
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Lista de productos -->
            <div class="Container-table">
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Stock Actual</th>
                            <th>Stock Total</th>
                            <th>IVA</th>
                            <th>Precio Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of products">
                            <td>{{ data.barCode }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.description }}</td>
                            <td>{{ data.price | currency }}</td>
                            <td>{{ data.quantity }}</td>
                            <td>{{ data.stock }}</td>
                            <td>{{data.totalStock}}</td>
                            <td>{{ data.iva }}</td>
                            <td>{{ data.price * data.quantity | currency }}</td>
                            <td>
                                <button mat-fab class="btn__delete" (click)="deleteProduct(data.barCode)"
                                    aria-label="Eliminar producto">
                                    <mat-icon class="icon-display">delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  