.title__color{
    color: white;
}
.container__body{
    padding: 40px ;
}
.cta-cte-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    max-width: 450px;
    margin: auto;
  }
  
  .section-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    color: #3f51b5;
    margin-bottom: 1rem;
  }
  
  .client-info-card, .cta-info-card {
    background-color: #fafafa;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 1.1rem;
  }
  
  .label {
    font-weight: 600;
    color: #555;
  }
  
  .value {
    font-weight: 500;
  }
  
  .positive {
    color: #2e7d32;
  }
  
  .negative {
    color: #c62828;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  