<div class="bank-card">

    <div class="bank-header">

        <mat-icon>account_balance</mat-icon>

        <span>Formas de Pago</span>

    </div>

    <div class="payment-list">

        <div class="payment-item">

            <span>Efectivo</span>

            <strong>$ 0</strong>

        </div>

        <div class="payment-item">

            <span>Transferencias</span>

            <strong>$ 0</strong>

        </div>

        <div class="payment-item">

            <span>Mercado Pago</span>

            <strong>$ 0</strong>

        </div>

        <div class="payment-item">

            <span>Cuenta Corriente</span>

            <strong>$ 0</strong>

        </div>

    </div>

</div>
