.body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
background: rgb(116,2,182);
background: radial-gradient(circle farthest-corner at center center, rgb(116,2,182) 40%, #523eb2 80%);
background: -webkit-radial-gradient(circle farthest-corner at center center, rgb(116,2,182) 40%, #523eb2 80%);
background: -moz-radial-gradient(circle farthest-corner at center center, rgb(116,2,182) 40%, #523eb2 80%);
}
.card
{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  width: 400px;
  padding: 20px;
box-shadow: 21px 20px 24px 0px rgba(0,0,0,0.39);
-webkit-box-shadow: 21px 20px 24px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 21px 20px 24px 0px rgba(0,0,0,0.39);
}
.ancho{
  width: 100%;
}
.btn{
  height: 50px;
}
.spinner{
margin: 0 auto;
}