<div class="body">
    <form (ngSubmit)="iniciarSession()" [formGroup]="formGroup">
        <mat-card class="card">
            <mat-card-content>
                <h1><strong>Iniciar Sesion</strong></h1>
                <mat-form-field class="ancho">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field class="ancho">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
                <button mat-raised-button class="ancho btn" type="submit" ng color="primary">Ingresar</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>