<div class="stock-container">

    <table class="stock-table">

        <thead>

            <tr>

                <th>Producto</th>

                <th class="text-center">Stock</th>
                <th class="text-center">Mínimo</th>

            </tr>

        </thead>

        <tbody>

            @for(product of productos; track product.productId){

                <tr>

                    <td>

                        {{product.name}}

                    </td>

                    <td class="text-center">

                        <span
                            class="badge"
                            [ngClass]="{

                                'danger': stockStatus(product) === 'sin-stock',

                                'warning': stockStatus(product) === 'stock-bajo',

                                'success': stockStatus(product) === 'stock-ok'

                            }">

                            {{ product.availableStock | number: '1.0-6' }}

                        </span>

                    </td>
                    <td class="text-center">{{ product.minimumStock | number: '1.0-6' }}</td>

                </tr>

            } @empty {

                <tr>

                    <td colspan="3" class="empty">

                        No existen productos con bajo stock

                    </td>

                </tr>

            }

        </tbody>

    </table>

    <div class="footer">

        <button mat-button color="primary" routerLink="/dashboard/reportes/inventario/bajo-stock">

            Ver reporte completo

        </button>

    </div>

</div>
