<div
    class="layout"
    [class.collapsed]="menuCollapsed"
    (mouseenter)="expandMenu()"
    (mouseleave)="collapseMenu()">

    <!-- ===========================
         SIDEBAR
    ============================ -->

    <aside class="sidebar">

        @if (!menuCollapsed) {

            <div class="sidebar-header">

                <span class="menu-title">

                    Menu

                </span>

            </div>

            <hr>

        }

        <app-vertical-menu
            [collapsed]="menuCollapsed">
        </app-vertical-menu>

    </aside>

    <!-- ===========================
         CONTENIDO
    ============================ -->

    <main class="content">

        <mat-toolbar color="primary">

            @if (isHandset$ | async) {

                <button
                    mat-icon-button
                    (click)="toggleMenu()">

                    <mat-icon>

                        menu

                    </mat-icon>

                </button>

            }

            <div class="container__barra">

                <span class="barra__span">

                </span>

                <div class="barra__logout">

                    <button
                        mat-icon-button
                        (click)="logout()">

                        <app-icon
                            [iconSrc]="'assets/icons/power.png'"
                            [iconAlt]="'Salir'"
                            [size]="'30px'">
                        </app-icon>

                    </button>

                </div>

            </div>

        </mat-toolbar>

        <section class="router-content">

            <router-outlet></router-outlet>

        </section>

    </main>

</div>
