@defer {

  <app-form-factura-datos-proveedor
    #childRef
    (datosEmitidos)="datosHijo1Change($event)">
  </app-form-factura-datos-proveedor>


  <app-registrar-detalle-factura-proveedor
    #childRefDetalle
    (productosEmitidos)="datosHijo2Change($event)"
    (limpiarTotal)="limpiarTotal($event)">
  </app-registrar-detalle-factura-proveedor>
<app-impuestos-factura
  [baseImponible]="subtotalFactura"
  (impuestosChange)="datosImpuestosChange($event)">
</app-impuestos-factura>
}
@loading {

  <app-spinner></app-spinner>

}
@error {

  <p>
    Error al cargar el componente.
  </p>

}


@if (showFormSubtotal) {

  <div class="parent-container">

    <div class="container__totalSale">

      <div class="total-line">

        <span>
          Subtotal:
        </span>

        <strong>
          {{ subtotalFactura | currency:'ARS' }}
        </strong>

      </div>


    <div class="total-line">

  <span>
    Subtotal:
  </span>

  <strong>
    {{
      subtotalFactura
        | currency:'ARS'
    }}
  </strong>

</div>


<div class="total-line">

  <span>
    IVA:
  </span>

  <strong>
    {{
      totalIva
        | currency:'ARS'
    }}
  </strong>

</div>


<div class="total-line">

  <span>
    Impuestos adicionales:
  </span>

  <strong>
    {{
      impuestosTotal
        | currency:'ARS'
    }}
  </strong>

</div>


<div class="total-line total-final">

  <span>
    TOTAL:
  </span>

  <strong>
    {{
      totalFactura
        | currency:'ARS'
    }}
  </strong>

</div>


      <div class="total-line total-final">

        <span>
          TOTAL:
        </span>

        <strong>
          {{ totalFactura | currency:'ARS' }}
        </strong>

      </div>


      <button
        type="button"
        class="btn-crear-factura"
        (click)="crearFacturaDialog()"
        [disabled]="guardando">

        {{ guardando
          ? 'Guardando...'
          : 'Registrar Factura' }}

      </button>

    </div>

  </div>

}
@else {

  <div class="sin-productos">

    <h3>
      Agrega productos para registrar la factura.
    </h3>

  </div>

}
