.cards-container{

    display:grid;

    grid-template-columns:repeat(6,1fr);

    gap:18px;

    margin-bottom:25px;

}

@media(max-width:1500px){

    .cards-container{

        grid-template-columns:repeat(3,1fr);

    }

}

@media(max-width:900px){

    .cards-container{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:600px){

    .cards-container{

        grid-template-columns:1fr;

    }

}

.dashboard-card{

    position:relative;

    overflow:hidden;

    border:none;

    border-radius:18px;

    padding:18px;

    min-height:150px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    color:white;

    cursor:pointer;

    transition:.30s;

    box-shadow:0 12px 28px rgba(0,0,0,.18);

}
.dashboard-card mat-icon{

    font-size:32px;

    width:32px;

    height:32px;

    margin-bottom:10px;

}

.dashboard-card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 35px rgba(0,0,0,.25);

}

.dashboard-card::before{

    content:"";

    position:absolute;

    width:170px;

    height:170px;

    border-radius:50%;

    right:-40px;

    top:-40px;

    background:rgba(255,255,255,.10);

}

.dashboard-card mat-icon{

    font-size:42px;

    width:42px;

    height:42px;

    z-index:2;

}

.title{

    font-size:18px;

    font-weight:500;

    z-index:2;

}

.value{

    font-size:24px;

    font-weight:700;

    line-height:1.1;

}

.subtitle{

    font-size:13px;

    opacity:.85;

    z-index:2;

}

/* Productos */

.products{

    background:linear-gradient(135deg,#43A047,#2E7D32);

}

/* Compras */

.purchases{

    background:linear-gradient(135deg,#039BE5,#0277BD);

}

/* Ventas */

.sales{

    background:linear-gradient(135deg,#FB8C00,#EF6C00);

}

/* Ganancias */

.profit{

    background:linear-gradient(135deg,#8E24AA,#6A1B9A);

}

/* Bajo stock */

.stock{

    background:linear-gradient(135deg,#E53935,#C62828);

}

/* Día */

.today{

    background:linear-gradient(135deg,#FBC02D,#F57F17);

}
