<div class="container">
    <button class="card green"> 
        <p>Productos</p>
        <h4>{{data_cards?.products}}</h4>
    </button>    
    <button class="card blue">
        <p>Total  Compras</p>
        <h4> a registrar</h4>
    </button>

    <button class="card orange">
        <p>Total Ventas</p>
        <h4>{{data_cards?.MontoTotal|currency }}</h4>
    </button>

    <button class="card purple">
        <p>Total Ganancias</p>
        <h4>a registrar</h4>
    </button>
<button
    type="button"
    class="card red"
    [routerLink]="['/dashboard', 'bajo-stock']">
    <h3>Bajo Stock</h3>
    <h4>{{ data_cards?.bajo_stock }}</h4>
  </button>
    
    <button class="card yellow">
        <p>Ventas del Día</p>
        <h4>{{data_cards?.MontoTotal|currency}}</h4>
    </button>
</div>