<div class="parent">
    <div class="div1"> 
    <h2>Facturas por Proveedor</h2>
        <app-find-supplier (mensajeEnviado)="resivirMensaje($event)"></app-find-supplier> </div>
    <div class="div2">
        <div class="row contenedor-form">
            <app-tabla-generic [data]="data" [displayedColumns]="columns" [columnNames]="columnNames"
                [showActions]="true" [editComponent]="editComponent" [columnConfig]="columnConfig"
                [verDetalleFacturaComponent]="verDetalle"></app-tabla-generic>
        </div>
    </div>
</div>