<div class="contenedor-global">

    <div class="row contenedor-form">

        <!-- Find Supplier Component -->
        <div class="col">
            <app-find-supplier (mensajeEnviado)="recibirIdProveedor($event)"></app-find-supplier>
            

        </div>

        <!-- Form Fields -->
        <div class="col">

            <!-- Comprobante N° -->
            <mat-form-field>
                <mat-label>Comprobante N°</mat-label>
                <input matInput />
            </mat-form-field>

            <!-- Monto -->
          

        </div>

      
 

    </div>

</div>



